include _includes/validationMessage
include _includes/input-text
include _includes/input-textarea
include _includes/buttonMixin
include _includes/radios
include _includes/checkboxes

doctype html
html(lang=getLocale() === 'fr' ? 'fr' : 'en')
  block variables
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content=`[ALPHA] ${__('app.desc')}`)
    if GITHUB_SHA
      meta(name='keywords' content=`GITHUB_SHA=${GITHUB_SHA}`)
    link(rel='shortcut icon' href='/favicon.png' type='image/x-icon' sizes='32x32')
    link(rel='preconnect', href='https://fonts.gstatic.com/', crossorigin='')
    link(href='https://fonts.googleapis.com/css?family=Lato:700|Noto+Sans:400,700&display=fallback', rel='stylesheet')
    link(rel='stylesheet', href='/styles.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" type="text/javascript")

    if title
      if errors
        title #{__('Error:')} #{title} — #{__('app.title')}
      else
        title #{title} — #{__('app.title')}
    else
      title #{__('app.title')}

  body
    .container
      header
        include _includes/phaseBanner
        include _includes/fip
      main
        if errors
          include _includes/errorList.pug

        block content

      include _includes/footer.pug
      include _includes/script.pug
