extends /base

block variables
  -var title = __('personal.title')

block content

  h1 #{title}

  div
    p #{__('personal.intro')}
  form(method='post')

    +textInput('form.fullname', null, 'form.fullname.desc')(class='w-3-4', id='fullname' name='fullname', autofocus, value=data.fullname)

    +textInput('form.email', null, 'form.email.desc')(class='w-3-4', id='email' name='email', autofocus, value=data.email)

    +textInput('form.passport_expiry', null, 'form.passport_expiry.desc')(class='w-3-4', id='expiry' name='expiry', autofocus, value=data.expiry)
    
    +textArea('form.address', null, 'form.address.desc', data.address)(class='w-3-4', id='address' name='address', autofocus)
    
    +radioButtons('send_notifications', {1:'Yes',2:'No'}, data.send_notifications, 'form.send_notifications', errors)
    
    +checkBoxes('notify_type', {1:'SMS',2:'Email'}, data.notify_type, 'form.notify_by', errors)

    +formButtons()
