mixin formButtons(submitButtonText = 'Continue', cancelUrl='/clear')
  .buttons
    .buttons--left
      button(type='submit') #{__(submitButtonText)}
    .buttons--right
      a.button-link.transparent.full-width(href=cancelUrl) #{__('Cancel')}

mixin linkButtons(confirmURL)
  .buttons-row
    a.button-link(href=confirmURL) #{__('Confirm')}
    if block
        block
    a.button-link.transparent(href='/clear') #{__('Cancel')}
