mixin radioButtons(key, values, value, question, errors = false)
  div(class={['has-error']: errors && errors[key]})
    fieldset.fieldset
      legend.fieldset__legend #{__(question)}
      .multiple-choice.multiple-choice--radios
        if errors && errors[key] && errors[key].msg
          +validationMessage(errors[key].msg, key)
        
        each val, index in values
          .multiple-choice__item
            input(id=`${key}${val}` name=key type="radio" value=`${val}` checked=(value ==`${val}`) aria-describedby=(errors ? `${key}-error` : false))
            label(for=`${key}${val}`) #{`${val}`}
