mixin yesNoRadios(key, value, question, errors = false)
  div(class={['has-error']: errors && errors[key]})
    fieldset.fieldset
      legend.fieldset__legend #{__(question)}
      .multiple-choice.multiple-choice--radios
        if errors && errors[key] && errors[key].msg
          +validationMessage(errors[key].msg, key)
        .multiple-choice__item
          input(id=`${key}Yes` name=key type="radio" value="Yes" checked=(value =='Yes') aria-describedby=(errors ? `${key}-error` : false))
          label(for=`${key}Yes`) #{__('Yes')}
        .multiple-choice__item
          input(id=`${key}No` name=key type="radio" value="No" checked=(value =='No') aria-describedby=(errors ? `${key}-error` : false))
          label(for=`${key}No`) #{__('No')}
          if block
            block
